# filter by file extension or type
*.pyc
*.whl
*.xml
*.tif
*.TIF
*.egg*

# specific files and folders
docs/build
*dnppy_stat_report.txt
*make_html.bat
*arc.dir

# ignore files with test tag.
*_test*

# the users workspace
.idea/
*install_pip.py
dnppy_stat_report.txt

